@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<ECommerceApplication.Models.Product>

<h1 class="text-center mb-4">Product List</h1>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <p class="card-text">Price: @product.Price.ToString("C")</p>
                        <a href="@Url.Action("Details", "Products", new { id = product.Id })" class="btn btn-primary">View Details</a>
                        <a href="@Url.Action("AddToCart", "Cart", new { productId = product.Id })" class="btn btn-success">Add to Cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
